:root {
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --background-color: #0A192F;
  /* --background-color: #0a192f; */
  --lightest-navy: #233554;
  --light-navy: #112240;
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
  --lightest-slate: #a8b2d1;
  --theme-color:   #00BFFF;
}

::-moz-selection {
  color: white;
  background: var(--theme-color);
}

::selection {
  color: white;
  background: var(--theme-color);
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--background-color);
  counter-reset: title;
}

main {
  transition: 0.3s ease-in-out;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--background-color);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--background-color);
  border-radius: 10px;
}

/* qualification Section */
.qualification_container {
  max-width: 768px;
}
.qualification_tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}
.qualification_button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin: 0 var(--mb-1);
  color: var(--title-color);
  cursor: pointer;
}
.qualification_button:hover {
  color: var(--title-color-dark);
}
.qualification_icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}
.qualification_active {
  color: var(--title-color-dark);
}
.qualification_sections {
  display: grid;
  justify-content: center;
}
.qualification_content {
  display: none;
}
.qualification_content-active {
  display: block;
}
.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5ewm;
}
.qualification_title {
  font-size: var(--normar-font-size);
  font-weight: var(--font-medium);
}
.qualification_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.qualification_calendar {
  font-size: var(--small-font-size);
  margin-right:3px ;
}
.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  background-color: orange;
  border-radius: 50%;
}
.qualification_line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: greenyellow;
    transform:translate(6px,-7px) ;
}



@media screen and (max-width: 992px) {
.qualification_container{
    margin-left: auto;
    margin-right: auto;
}
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
 .qualification_container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
 }
  }
  
  @media screen and (max-width: 576px) {
    .qualification_sections{
        grid-template-columns: initial;
    }
    .qualification_button{
        margin: 0 var(--mb-0-75);
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
   .qualification_data{
    gap: 0.5rem;
   }
  }
  
